.round-white-button {
  border: 1px solid lightgrey;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selected-white-button {
  background-color: white;
  color: grey;
  border: 1px solid lightgrey;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selected-white-button.selected {
  background: linear-gradient(to right, #89EAD8, #3A85DC);
  border: 1px solid white;
  color: white;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.selected-white-button:disabled {
  background-color: #f3f3f3;
  color: #a9a9a9;
  cursor: not-allowed;
  border: 1px solid #e0e0e0;
  box-shadow: none;
}
